.products-page {
  margin-bottom: 10rem;

  .products-container {
    display: grid;
    grid-template-columns: 300px 3fr;

    aside {
      margin: 3rem 1rem;
      .search-container {
        label {
          font-weight: 600;
        }
        input {
          margin-top: 5px;
          padding: 5px;
          border: 1px solid darkgrey;
        }
      }
      .filter-header-text {
        font-weight: 600;
        margin-bottom: 0;
      }
      .company-filter-container {
      }
      .color-filter-container {
        .all-colors {
          position: relative;
          display: inline-block;
          top: 7px;
        }
      }
      .price-filter-container {
        .filter-price {
          font-size: 0.9rem;
        }
      }
      .freeshipping-container {
        margin-top: 1rem;
      }
    }

    .view-sort-container {
      display: flex;
      justify-content: space-between;

      .switch-view {
        list-style-type: none;

        padding: 0;

        li {
          display: inline;
          padding: 10px;
          cursor: pointer;
          .grid-list-switch-btn {
            &:hover {
              color: darkgrey;
            }
          }
        }
      }

      .sort-container {
        padding: 0 1rem;
        .sort-by-text {
          padding: 0 10px;
        }
        select {
          width: 200px;
          height: 40px;
          outline: none;
          border: none;
        }
      }
    }

    .products-section {
      padding: 3rem 0;
      .no-products {
        font-size: 2rem;
        text-align: center;
      }
      .all-products-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media screen and (max-width: 990px) {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }

        @media screen and (min-width: 1600px) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }

        .product-grid {
          display: flex;
          flex-direction: column;

          justify-content: center;
          align-items: center;
          margin: 20px;

          .product-grid-image {
            width: 80%;
            border-radius: 10px;
            height: 300px;
          }

          .product-grid-details {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            .product-grid-name {
              text-transform: capitalize;
            }
          }
        }
      }

      .all-products-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        padding-top: 3rem;

        .product-list {
          display: flex;
          flex-direction: row;
          column-gap: 30px;

          .product-image {
            min-width: 400px;
            height: 300px;
            border-radius: 10px;
          }
          .product-list-details {
            .product-list-name {
              text-transform: capitalize;
            }
            .product-list-price {
              color: #282c34;
            }
            .product-list-description {
              color: #413e3e;
            }
          }
        }
      }
    }
  }
}

.active-btn {
  background-color: black;
  color: white;
  transform: scale(1.2);
}

.filter-button {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.66);
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  padding: 3px;
}
.color-button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
}
.filter-button-active {
  text-decoration: underline;
}
